<link rel="stylesheet" href="css/redheader.css" type="text/css"/>
<ion-header-bar align-title="left" class="bar bar-header header" style="border-image: none">
    <h1 class="title">我的</h1>
</ion-header-bar>
<ion-content>
    <img src="img/nologin.jpg" alt="" style="width: 100%;height: auto;margin-top: 5%"/>
    <p style="width: 100%;text-align: center;color: #999999">您当前未登录帐号</p>
    <mybutton bg-color="#d91d36" color="#fff" text="登录" on-tap="go('login')"></mybutton>
    <p style="width: 100%;text-align: center;color: #999999;margin-top: 5%">没有帐号？<span style="color:#458dbf" on-tap="go('regist')">马上注册></span></p>
</ion-content>